/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transition all 0.5s
  transform translateX(-120%)  // start off left of screen
  max-height 0
  padding 0 !important
  &.order-enter-active
    max-height 60px
    padding 2rem 0 !important
    transform translateX(0);  // end at center


.order-leave
  transition all 0.5s
  transform translateX(0)     // start at center
  &.order-leave-active
    transform translateX(120%) // end off right of screen
    max-height 0
    padding 0 !important

.count-enter
  transition all .25s
  transform translateY(100%) // start off top of screen
  &.count-enter-active
    transform translateY(0)  // end vertically at normal spot

.count-leave
  transition all .25s
  position absolute
  left 0
  bottom 0
  transform translateY(0) // start at normal spot
  &.count-leave-active
    transform translateY(-100%)  // end off top of screen
